<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.FixtureHostActivity"
            android:exported="true" />
        <activity
            android:name=".debug.PinWidgetActivity"
            android:exported="true" />
        <receiver
            android:name=".debug.FixtureControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="farm.ballydidean.weather.debug.SET_FIXTURE" />
                <action android:name="farm.ballydidean.weather.debug.SEED_PERSISTENCE" />
                <action android:name="farm.ballydidean.weather.debug.VERIFY_PERSISTENCE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
